header {
    height: 15rem;
    background-color: #aaa;
    position: relative;
    /* margin-bottom: 4rem; */
}

.header__text-box {
    /* width: 20rem; */
    /* background-color: #fff; */
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.search-text {
    font-size: 1.2rem;
    height: 2rem;
    width: 15rem;
    padding: 0 1.2rem 0 1.2rem;
    border-radius: 3px;
}

.search-btn {
    display: inline-block;
    height: 2rem;
    width: 5rem;
    font-size: 1.2rem;
    font-family: inherit;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #ddd;
    margin-left: .5rem;
}