.nav{
    background-color: #999;
    padding: .6rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.scroll-hidden {
    display: none;
    transition: all 5 ease-in;
}

.nav__search-box {
    width: 40rem;
    margin: 0 auto;
}

.scroll__delete-box::after {
    content: "";
    display: table;
    clear: both;
}
.nav__delete-box div {
    float: left;
    font-size: 1.2rem;
    background-color: #eee;
    margin: .4rem .4rem 0 0;
    padding: .4rem .6rem;
    border-radius: 5px;
}