.stock-card {
    background-color: #eee;
    max-width: 110rem;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 2px 4px 15px rgba(100, 100, 100, .8)
}
.stock-card:hover {
    box-shadow: 4px 7px 30px rgba(100, 100, 100, .8)
}
.stock-card:not(:last-child){
    margin-bottom: 5rem;
}
.stock-card li{
    list-style: none;
}

.card-rank {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 auto .6rem auto;
    padding: .6rem;
    background: #888;
    height: 2rem;
    line-height: 2rem;
    position: relative;
}
.card-rank__btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: .8rem 0 1rem 1rem;
    height: 2rem;
    line-height: 2rem;
}
.card-rank__btn::after {
    content: "";
    display: table;
    clear: both;
}
.card-rank__btn .btn {
    height: 1.6rem;
    width: 1.6rem;
    float: left;
    display: inline-block;
    background-color: rgb(235, 235, 235);
    background-size: contain;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: .6rem;
    transition: .1s all ease-in;
}

.card-btn__add {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwSDI3MnYtOTYuNWMwLTguOC03LjItMTYtMTYtMTZzLTE2IDcuMi0xNiAxNlYyNDBoLTk2LjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN0gyNDB2OTYuNWMwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuNyA4LjggMCAxNi03LjIgMTYtMTZWMjcyaDk2LjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+');
}
.card-btn__delete {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMjc4LjYgMjU2bDY4LjItNjguMmM2LjItNi4yIDYuMi0xNi40IDAtMjIuNi02LjItNi4yLTE2LjQtNi4yLTIyLjYgMEwyNTYgMjMzLjRsLTY4LjItNjguMmMtNi4yLTYuMi0xNi40LTYuMi0yMi42IDAtMy4xIDMuMS00LjcgNy4yLTQuNyAxMS4zIDAgNC4xIDEuNiA4LjIgNC43IDExLjNsNjguMiA2OC4yLTY4LjIgNjguMmMtMy4xIDMuMS00LjcgNy4yLTQuNyAxMS4zIDAgNC4xIDEuNiA4LjIgNC43IDExLjMgNi4yIDYuMiAxNi40IDYuMiAyMi42IDBsNjguMi02OC4yIDY4LjIgNjguMmM2LjIgNi4yIDE2LjQgNi4yIDIyLjYgMCA2LjItNi4yIDYuMi0xNi40IDAtMjIuNkwyNzguNiAyNTZ6Ii8+PC9zdmc+');
}

.card-rank__btn .btn:hover {
    background-color: rgb(180, 180, 180);
    /* box-shadow: 2px 3px 5px rgba(80, 80, 80, .8) */
}
.card-rank__btn .btn:active {
    background-color: rgb(235, 235, 235);
    box-shadow:none;

}

.stock-title {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 0 .6rem .6rem;
}
.stock-title::after {
    content: "";
    display: table;
    clear: both;
}
.stock-title p{
    float: left;
    background-color: #fff;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.stock-title__id {
    width: 10%;
}
.stock-title__name {
    width: 40%;
}
.stock-title__type {
    width: 15%;
}
.stock-title__category{
    width: calc(35% - 3rem);
}
.stock-title p:not(:last-child) {
    margin-right: 1rem;
}

.stock-description {
    min-height: 2rem;
    background-color: #fff;
    margin: 0 0 .6rem .6rem;
    padding: 1rem;
}

.stock-calc {
    margin: 0 0 .6rem .6rem;
    padding: 1rem;
    background-color: #fff;
    font-size: 1.2rem;
    line-height: 1.7;
}
.info-value {
    font-size: 1.5rem;
    background-color: #ccc;
    padding: 2px;
}

.show-link {
    background-color: #fff;
    min-height: 2rem;
    margin: 0 0 .6rem .6rem;
     padding: 1rem;
}
.show-link::after {
    content: "";
    display: table;
    clear: both;
}
.show-link a {
    font-size: 1.2rem;
    font-weight: 700;
    float: left;
    display: inline-block;
    text-decoration: none;
    color: #000;
    min-width: 5rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    padding: 0 .4rem;
    background: #ccc;
    margin-right: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}
.show-link a:hover {
    background: #aaa;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}
.show-link a:active {
    background: #ccc;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

.parse-value {
    margin: 0 0 .6rem .6rem;
    padding: 1rem;
    background-color: #fff;
    line-height: 1.5;
    /* overflow: scroll; */
}

.parse-value li:not(:first-child) {
    margin-top: .3rem;
}

.table-title {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    width:100%;
    overflow: scroll;
}

table,td {
    border: 1px solid black;
    text-align: center;
}

.table-time {
    background: #eee;
    font-weight: 700;
}
.value-sm {
    font-size: .6rem;
}